{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

    <div class="container">
        <h3 style="text-align: center; margin-top: 2%;">Kies uw Datum en Tijd</h3>
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td>
                    {% for trainingen in training %}
                        {% for les in training[1].getLessons %}
                            <div class="card" style="width: 18rem; height: 5%; float:left; margin-right: 3%;">
                                <div class="card-body">
                                    <p class="card-text">{{ les.getDate|date('j F, Y') }} {{ les.getTime|date('h:i') }}</p>
                                    <p class="card-text">{{training[2].naam}}</p>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="#" class="card-link">Delete</a>
                                    {% endif %}
                                        <button type="button" class="btn btn-light" style="margin-right: 5px;"> <a href="{{ path('inschrijving',{'id':les.id}) }}">Inschrijven</a></button>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>


    </div>
{% endblock %}
















