{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

    <div class="container">
        <h3 style="text-align: center; margin-top: 2%;">Kies uw Datum en Tijd</h3>
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td>




                    {% for trainingen in training %}
                        {% for les in trainingen.getLessons %}
                            <div class="card" style="width: 100%; height: 5%; margin-bottom: 2%;">
                                <div class="card-body">
                                    <h4>{{trainingen.naam}} <img src="{{ asset ('image/training.png')}}" class="card-img-top" alt="..." style="width: 10%; float:right;"></h4>
                                    <h5>{{ les.Date|date('j F, Y') }} {{ les.Time|date('h:i') }}</h5>
                                    <p>{{ les.location }}</p>
                                    <div class="card-footer text-muted">
                                        <button type="button" class="btn btn-light" style="margin-right: 5px;"> <a href="{{ path('inschrijving',{'id':les.id}) }}" >Inschrijven</a></button>


                                        {% if is_granted('ROLE_INSTRUCTOR') %}
                                            <form method="post" action="{{ path('lessonDelete', {'id': les.id}) }}" onsubmit="return confirm('Wilt u het echt verwijderen ?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ les.id) }}">
                                                <button class="btn btn-light">Verwijderen</button>
                                            </form>
                                            <button type="button" class="btn btn-light"><a href="{{ path('lessonShow', {'id': les.id}) }}">Bekijken</a></button><br>
                                            <button type="button" class="btn btn-light"><a href="{{ path('lessonEdit', {'id': les.id}) }}">Wijzigen</a></button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}





                </td>
            </tr>
            </tbody>
        </table>


    </div>
{% endblock %}
















