{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}


    <div class="container" style="margin-top: 2%;">
                    <h3 style="text-align: center;">{{ training.naam }}</h3>
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td>Looptijd :</td>
                            <td>{{ training.duration }}</td>
                        </tr>
                        <tr>
                            <td>Tarief :</td>
                            <td>&euro; {{ training.costs }}</td>
                        </tr>
                        </tbody>
                    </table>

        <h3 style="text-align: center; margin-top: 2%;">Kies uw Datum en Tijd</h3>
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td>
                    {% for les in training.getLessons %}
                        <div class="card" style="width: 18rem; height: 5%; float:left; margin-right: 3%;">
                            <div class="card-body">
                                <p class="card-text">{{ les.date|date('j F, Y') }} {{ les.time|date('h:i') }}</p>
                                <p class="card-text">{{les.location}}</p>
                                <a href="#" class="card-link">Registreer uw les</a>
                            </div>
                        </div>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>


    </div>
{% endblock %}
















