{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container-fluid">
            <div class="card col-4 float-left" style="width: 50%; margin-top: 2%;">
                <img src="{{ asset ('image/mma.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{posts[0].naam}}</h4>
                    <p class="card-text">{{ posts[0].description }}.</p>
                </div>
                <div class="card-footer text-muted">
                    {{posts[0].costs}}
                </div>
            </div>
        <div class="card col-4 float-left" style="width: 50%; margin-top: 2%;">
            <img src="{{ asset ('image/kickbox.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{posts[1].naam}}</h4>
                <p class="card-text">{{ posts[1].description }}.</p>
            </div>
            <div class="card-footer text-muted">
                {{posts[1].costs}}
            </div>
        </div>
        <div class="card col-4 float-left" style="width: 50%; margin-top: 2%;">
            <img src="{{ asset ('image/stootzak.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{posts[2].naam}}</h4>
                <p class="card-text">{{ posts[2].description }}.</p>
            </div>
            <div class="card-footer text-muted">
                {{posts[2].costs}}
            </div>
        </div>


    </div>
    <div class="container">
        <h1>Welkom bij Training Centrum Den Haag</h1> <br>
        {% for comment in comments %}
            {{ comment }}
        {% endfor %}




    </div>
{% endblock %}

