{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        {% for training in trainingen %}
            <div class="card col-4 float-left" style="width: 50%; margin-top: 2%;">
                <img src="image/{{training.naam}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{training.naam}}</h4>
                </div>
                <div class="card-footer text-muted">
                    {{training.costs}}
                </div>
                <button type="button" class="btn btn-light"><a href="{{ path('agenda',{'id':training.id}) }}">Plannen</a></button>
            </div>
        {% endfor %}


    </div>
{% endblock %}

