{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container" style="text-align: center;margin-top: 1%;">
        <h1>Activiteiten</h1> <br>

    </div>
    <div class="container-fluid" style="margin-bottom: 10%;">
        {% for post in posts %}
            <div class="card col-4 float-left" style="width: 50%; margin-top: 2%;">
                <img src="image/{{post.naam}}" class="card-img-top" alt="...">
                <div class="card-body" style="height: 10%;">
                    <h4 class="card-title">{{post.naam}}</h4>
                    <p class="card-text">{{ post.description }}.</p>
                </div>
                <div class="card-footer text-muted">
                    {{post.costs}}
                </div>
                <button type="button" class="btn btn-light"><a href="training/{{ post.id }}">Plannen</a></button>
            </div>
        {% endfor %}
    </div>



{% endblock %}
