{% extends 'bezoeker.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        <h1 style="margin-top: 2%; text-align: center;">Kies uw training</h1>
        {% for training in trainingen %}
            <div class="card col-4 float-left" style="width: 50%; margin-top: 2%;">
                <img src="{{ asset ('image/training.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;">{{training.naam}}</h2>
                </div>
                <div class="card-footer text-muted">
                    {{training.costs}}
                </div>
                <button type="button" class="btn btn-light"><a href="{{ path('agenda') }}">Plannen</a></button>
            </div>
        {% endfor %}


    </div>

{% endblock %}

