<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} Training Centrum Den Haag{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('index.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>

<img src="{{ asset('image/header.webp') }}" alt="logo" style="width:150px; float: left;">
<div style="background-image:url('{{ asset('image/bg.jpg') }}')">,

    <h1>Training Centrum <br>Den Haag</h1>
{% block nav %}
    <nav class="navbar navbar-expand-md navbar-light bg-light" style="margin-top: 2%;">
        <a href="#" class="navbar-brand">
            <img src="{{ asset('image/logo.jpg') }}" alt="logo" style="width:50px;">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-nav-item nav-link" href="{{ path('homepage') }}">Home</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-nav-item nav-link" href="{{ path('registration')  }}">Lid worden</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-nav-item nav-link" href="{{ path('gedrag')  }}">Gedragregels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-nav-item nav-link" href="{{ path('contact')  }}">Locatie & Contact</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-nav-item nav-link" href="{{ path('training_index')  }}">Administrator</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-nav-item nav-link" href="{{ path('kartactiviteiten')  }}">Les Aanbod</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_INSTRUCTOR') %}
                    <li class="nav-item">
                        <a class="nav-nav-item nav-link" href="{{ path('planlessen')  }}">Instructeur</a>
                    </li>
                {% endif %}

            </ul>
            <div class="navbar-nav ml-auto">

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <button type="button" class="btn btn-light" style="margin-right: 5px;"> <a href="{{ path('app_logout') }}">Uitloggen</a></button>
                {% else %}
                    <button type="button" class="btn btn-light" style="margin-right: 5px;"> <a href="{{ path ('login') }}">Inloggen</a></button>
                {% endif %}

                <button type="button" class="btn btn-light">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        Ingelogd : {{ app.user.firstname }} {{ app.user.lastname }}
                    {% else %}
                        Niet ingelogd
                    {% endif %}
                </button>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav navbar-nav navbar-right">
                        <a class="nav-nav-item nav-link" href="{{ path('profieledit')  }}">Profiel</a>
                    </li>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock %}
{% block body %}

{% endblock %}

{% block footer %}

{% endblock %}



</div>
</body>
</html>









