{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        {% for training in trainingen %}
            <div class="card col-4 float-left" style="width: 50%; margin-top: 2%;">
                <img src="image/{{trainingen.naam}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{trainingen.naam}}</h4>
                </div>
                <div class="card-footer text-muted">
                    {{trainingen.costs}}
                </div>
                <button type="button" class="btn btn-light"><a href="{{ trainingen.id }}">Plannen</a></button>
            </div>
        {% endfor %}


    </div>
    <div class="container">
        <h1>Welkom bij Training Centrum Den Haag</h1> <br>
        {% for comment in comments %}
            {{ comment }}
        {% endfor %}
    </div>
{% endblock %}

