{% extends 'admin.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container">
       <h2 style="margin-top: 2%;">Leden van Training Factory Den Haag</h2>

            <table class="table table-borderless" style="margin-top: 4%;">
                <thead>
                <tr>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                {% for leden in lid %}
                <tr>
                    <td>{{leden.firstname}}</td>
                    <td>{{leden.lastname}}</td>
                    <td>{{leden.email}}</td>
                    <td><form method="post" action="{{ path('ledenDelete', {'id': leden.id}) }}" onsubmit="return confirm('Wilt u het echt verwijderen ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ leden.id) }}">
                            <button type="button" class="btn btn-outline-primary"><a href="{{ path('editLeden', {'id': leden.id}) }}">Details</a></button>
                            <button class="btn btn-outline-primary">Verwijderen</button>


                        </form></td>
                </tr>
                {% endfor %}


                </tbody>
            </table>


    </div>
{% endblock %}



